<!-- https://getbootstrap.com/docs/3.3/components -->
<!-- https://getbootstrap.com/docs/4.0/layout/grid/ -->
<!-- https://www.w3schools.com/bootstrap/bootstrap_grid_examples.asp -->

<!-- https://pythonhosted.org/Flask-Bootstrap/ -->



{% extends "bootstrap/base.html" %}

{% block content %} 

<div class="container">

  <!-- HIDDEN -->

  <div class="row">
    <div class="col">
      <div class="invisible">HIDDEN</div>
    </div>
    <div class="col">
      <div class="invisible">HIDDEN</div>
    </div>
  </div> 
  
  <!-- NAVIGATION -->

  <div class="row">
    <div class="col-sm">
      <ul class="nav nav-pills">             
        <li role="presentation" class="active"><a href="#">{{ site1 }}</a></li>
        <li role="presentation" class="active"><a href="#">{{ site2 }}</a></li>
        <li role="presentation" class="active"><a href="#">{{ site1 }}</a></li>
        <li role="presentation" class="active"><a href="#">{{ site2 }}</a></li>
      </ul>       
    </div>
  </div>

  <!-- HIDDEN -->

  <div class="row">
    <div class="col">
      <div class="invisible">HIDDEN</div>
    </div>
    <div class="col">
      <div class="invisible">HIDDEN</div>
    </div>
  </div> 



  <!-- DROPDOWN -->


  
    <p>Select a club:</p>
    <form id="form1" action="/login" method="POST" enctype="multipart/form-data">
      <select id="mySelect" name = "clubs">
        <option value= "{{ club_1 }}" > {{ club_1 }} </option>
        <option value= "{{ club_2 }}" > {{ club_2 }} </option>
        <option value= "{{ club_3 }}" > {{ club_3 }} </option>
        <option value= "{{ club_4 }}" > {{ club_4 }} </option>
      </select>
      <input type="submit" value="Submit">
    </form>
    
    <div id="result">
      {% if club_name is defined %}
          You have selected: {{ club_name }}
      {% endif %}
    </div>




  <!-- HIDDEN -->

  <div class="row">
    <div class="col">
      <div class="invisible">HIDDEN</div>
    </div>
    <div class="col">
      <div class="invisible">HIDDEN</div>
    </div>
  </div> 

  <!-- CONTENT -->

  <div class="row">
    <div class="col-sm-4">
      <p>
        This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
      </p>
    </div>

    <div class="col-sm-4">
      <p>
        This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
      </p>
    </div>

    <div class="col-sm-4">
      <div class="list-group">
          <a href="#" class="list-group-item active">
            Cras justo odio
          </a>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
    </div>

    <!-- GRAPHS -->

    <div>Graph 1</div>
    <div><img src='{{ graph1 }}'></img></div>
    <div>Graph 2</div>
    <div><img src='{{ graph2 }}'></img></div>
    <div>Graph 3</div>
    <div><img src='{{ graph3 }}'></img></div>

  <!-- HIDDEN -->

  <div class="row">
    <div class="col">
      <div class="invisible">HIDDEN</div>
    </div>
    <div class="col">
      <div class="invisible">HIDDEN</div>
    </div>
  </div> 

  <!-- INPUT -->

    {% if name != None: %}
    <h1>{{ name }}</h1>
    {% endif %}

    <form method="get">
        
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" value="{% if name != None %}{{ name }}{% endif %}" />

        <label for="age">Alter:</label>
        <input type="text" name="age" id="age" value="{% if age != None %}{{ age }}{% endif %}"/>

        <!-- HIDDEN -->

        <div class="row">
            <div class="col">
              <div class="invisible">HIDDEN</div>
            </div>
        </div> 
  
        <input type="submit" value="Formular abschicken!" />

    </form>

  </div>
</div>


{% endblock %}


{% block scripts %}

<script src="{{url_for('.static', filename='myscripts.js')}}"></script>
{{super()}}

{% endblock %}