{% extends "bootstrap/base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RASPI</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout</font></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">LED
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('dashboard_LED_scene_01') }}">Szenen</a></li>
            <li><a href="{{ url_for('dashboard_LED_programs') }}">Programme</a></li>
            <li><a href="{{ url_for('dashboard_LED_settings') }}">Einstellungen</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('dashboard_schedular') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_sensors') }}"><span class="glyphicon glyphicon-scale"></span> Sensoren</a></li>
        <li><a href="{{ url_for('dashboard_user') }}"><span class="glyphicon glyphicon-user"></span> Benutzer</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

<!-- error message -->

      {% if error_massage != "" %}
      <div class="alert alert-danger" role="alert">
        {{ error_massage }}
      </div>      
      {% endif %}

<!-- add new plant -->

      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>Bewässerung</b></font></div>
          <div class="panel-body">      
          <form method="GET">   
            <div class="form-group">
              <input type="text" class="form-control" name=name value="" />
              </div>
              Sensor / Pumpe  
                <select class="btn btn-secondary dropdown-toggle" name="set_sensor">
                  {% for each in dropdown_list_sensor %}
                  <option value="{{each.id}}"> {{ each.name }} </option>
                  {% endfor %}
                </select>   
                <select class="btn btn-secondary dropdown-toggle" name="set_pump">
                  {% for each in dropdown_list_pump %}
                  <option value="{{each}}"> {{ each }} </option>
                  {% endfor %}
                </select>   
                <br> 
                <br>                 
              <input type="submit" class="btn btn-secondary" value="Pflanze hinzufügen" />
              <br>
            </form>   
          </div>  
        </div>

<!-- plants table -->

        <div class="panel panel-default">
          <div class="panel-body">     
          <table class="table">
            <thead>
              <th scope="col">Name</th>                        
              <th scope="col">Sensor</th>
              <th scope="col">Pumpe</th>
              <th scope="col" colspan="2">min. Feuchtigkeit</th>  
              <th scope="col" colspan="2">Wassermenge (ml)</th> 
            </thead>
            <tbody> 
              {% for entry in plants_list %}
              <tr>
                <td>{{ entry.name }}</td> 
                <td>{{ entry.sensor_name.name }}</td> 
                <td>{{ entry.pump_id }}</td>
                <td>{{ entry.moisture }}</td> 
                <td>
                  <form method="GET" class="slidecontainer"> 
                    <div class="col-md-10 text-center"> 
                      <input type="range" class="slider" name="moisture_{{ entry.id }}" min="0" max="250" value="{{ entry.moisture }}" />
                      <br>
                      <input type="submit" class="btn btn-secondary" value="Feuchtigkeit ändern"/>
                    </div> 
                  </form>
                </td>
                <td>{{ entry.water_volume }}</td>
                <td>
                  <form method="GET" class="slidecontainer"> 
                    <div class="col-md-10 text-center"> 
                      <input type="range" class="slider" name="water_{{ entry.id }}" min="0" max="250" value="{{ entry.water_volume }}" />
                      <br>
                      <input type="submit" class="btn btn-secondary" value="Wassermenge ändern"/>
                    </div> 
                  </form>
                </td>
                <td><a href="/dashboard/plants/delete/{{ entry.id }}"><font color="red"><b>löschen</b></font></a></td>   
              </tr>
              {% endfor %}
            </tbody>
          </table>  
        </div>  
      </div>  
    </div>
  </div>    
</div>


{% endblock %}