body {
  padding-top: 50px;
  background-image: url(images/background-abstract-art.jpg);
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.panel-body {
  background-image: url(images/background-panal.jpg);
}