{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <br>

  <div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">

    <a class="btn btn-primary" href="/dashboard/user" role="button">Benutzer</a>
    <a class="btn btn-primary" href="/dashboard/hue" role="button">Hue</a>
    <a class="btn btn-primary" href="/dashboard" role="button">Button_3</a>
    <a class="btn btn-primary" href="/dashboard" role="button">Button_4</a>
    <a class="btn btn-primary" href="/dashboard" role="button">Button_5</a>

    <br>
    <br>
    
    {% if user_list is defined %}
    <h2 class="sub-header">Benutzer</h2> 
      <div class="row">
        <div class="col">
          <br>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Benutzer</th>
                <th scope="col">eMail</th>
                <th scope="col">Rolle</th>
              <tr>
            </thead>
            <tbody>
              {% for user in user_list %}
                <tr>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>  
                  <td>{{ user.role }}</td> 
       
                  <td><a href="/dashboard/user/role/{{ user.id }}">freischalten</a>
                  <td><a href="/dashboard/user/delete/{{ user.id }}">delete</a>
                  </td>   
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>    
    {% endif %}
  
    {% if red is defined %}
      <h2 class="sub-header">Philips Hue</h2> 
      <div class="row">
        <div class="col">
          <br>  

          <div class="panel panel-primary">
            <div class="panel-heading">RGB Einstellungen</div>
            <div class="panel-body">
              <form method="POST">
                <div class="slidecontainer">
                  <p>ROT:</p>
                  <input type="range" min=0 max=255 value={{red}} class="slider" name="slider_red">
                  <p>GRÜN:</p>
                  <input type="range" min=0 max=255 value={{green}} class="slider" name="slider_green">
                  <p>BLAU:</p>
                  <input type="range" min=0 max=255 value={{blue}} class="slider" name="slider_blue">
                  <br>
                  <input type="submit" value="Submit">
                </div>
              </form>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">Helligkeit</div>
            <div class="panel-body">
              <form method="POST">
                <div class="slidecontainer">
                  <input type="range" min=0 max=255 value={{brightness}} class="slider" name="slider_brightness">
                  <br>
                  <input type="submit" value="Submit">
                </div>
              </form>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">Systemeinstellungen</div>
            <div class="panel-body">
              <form method="GET">
                <label for="name">BRIDGE IP: </label>
                <input type="text" name="ip" value="{% if ip != None %}{{ ip }}{% endif %}" />
                <br>
                <br>
                <input type="submit" value="IP ändern" />
              </form>
            </div>  
          </div>         
          <br>
          <br>

        </div>
      </div>    
    {% endif %}
  </div>

{% endblock %}