{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ colorpicker.loader() }}
  {{ colorpicker.picker(ids=[".scene_01_1", ".scene_01_2", ".scene_01_3", ".scene_01_4", ".scene_01_5"]) }}
{% endblock scripts %}

{% block content %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">RASPI</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          <li><a href="{{ url_for('dashboard_hue_scenes') }}">HUE Szenen</a></li>
          <li><a href="{{ url_for('dashboard_hue_settings') }}">HUE Einstellungen</a></li>
          <li><a href="{{ url_for('dashboard_user') }}">Benutzer</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <br>

  <div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
 
      <h2 class="sub-header">HUE Szenen</h2> 
      <div class="row">
        <div class="col">
        <br>  

<!--########-->
<!--Scene 1 -->
<!--########-->

        {% if entries_scene_01 != None %}
          <div class="row">
              <div class="col">

                <form method="GET">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name_01" value="{{ scene_01_name }}" />
                  </div>
                    <input type="submit" class="btn btn-secondary" value="Name ändern" />
                    <br>
                    <br>
                </form>              

                <table class="table table-striped">
                    <thead>
                        <tr>                       
                          <th scope="col">Birne</th>                        
                          <th scope="col" colspan="3">RGB</th>
                          <th scope="col">Helligkeit</th>                      
                        <tr>
                    </thead>
                    <tbody>             
                        {% for entry in entries_scene_01 %}
                        <tr>
                          <td>{{ entry.id }}</td> 
                          <td>{{ entry.color_red }}</td>
                          <td>{{ entry.color_green }}</td>
                          <td>{{ entry.color_blue }}</td>   
                          <td>{{ entry.brightness }}</td> 
                          <td>
                            <form method="GET" class="verticalform">
                              <input type="text" name="{{ entry.scene_id }} {{ entry.bulk_id }}" class="form-control scene_01_{{ entry.bulk_id }}" value="rgb({{ entry.color_red }}, {{ entry.color_green }}, {{ entry.color_blue }}) "/>
                              <input type="submit" class="btn btn-secondary" value="Farbe ändern" />   
                            </form>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>     
                <form action="" method="post"> 
                  <input type="submit" class="btn btn-danger" name="delete_1" value="Einträge löschen"/>
                </form>
                <br>
                <br>
                <br>              
      
              </div>
          </div>   
          {% endif %}

<!--########-->
<!--Scene 2 -->
<!--########-->

          {% if entries_scene_02 != None %}

          <div class="row">
              <div class="col">

                <form method="GET">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name_02" value="{{ scene_02_name }}" />
                  </div>
                    <input type="submit" class="btn btn-secondary" value="Name ändern" />
                    <br>
                    <br>
                </form>     

                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Birne</th>                        
                          <th scope="col" colspan="3">RGB</th>
                          <th scope="col">Helligkeit</th>  
                        <tr>
                    </thead>
                    <tbody>
                        {% for entry in entries_scene_02 %}
                        <tr>
                          <td>{{ entry.id }}</td> 
                          <td>{{ entry.color_red }}</td>
                          <td>{{ entry.color_green }}</td>
                          <td>{{ entry.color_blue }}</td>   
                          <td>{{ entry.brightness }}</td>      
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>   
                <form action="" method="post"> 
                  <input type="submit" class="btn btn-danger" name="delete_2" value="Einträge löschen"/>
                </form>
                <br>
                <br>
                <br>                  
              </div>
          </div>   
          {% endif %}
 
<!--########-->
<!--Scene 3 -->
<!--########-->

          {% if entries_scene_03 != None %}

          <div class="row">
              <div class="col">

                <form method="GET">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name_03" value="{{ scene_03_name }}" />
                  </div>
                    <input type="submit" class="btn btn-secondary" value="Name ändern" />
                    <br>
                    <br>
                </form>     

                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Birne</th>                        
                          <th scope="col" colspan="3">RGB</th>
                          <th scope="col">Helligkeit</th>  
                        <tr>
                    </thead>
                    <tbody>
                        {% for entry in entries_scene_03 %}
                        <tr>
                          <td>{{ entry.id }}</td> 
                          <td>{{ entry.color_red }}</td>
                          <td>{{ entry.color_green }}</td>
                          <td>{{ entry.color_blue }}</td>   
                          <td>{{ entry.brightness }}</td>      
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> 
                <form action="" method="post"> 
                  <input type="submit" class="btn btn-danger" name="delete_3" value="Einträge löschen"/>
                </form>
                <br>  
                <br>
                <br>      
              </div>
          </div>   
          {% endif %}

<!--########-->
<!--Scene 4 -->
<!--########--> 

          {% if entries_scene_04 != None %}

          <div class="row">
              <div class="col">

                <form method="GET">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name_04" value="{{ scene_04_name }}" />
                  </div>
                    <input type="submit" class="btn btn-secondary" value="Name ändern" />
                    <br>
                    <br>
                </form>     

                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Birne</th>                        
                          <th scope="col" colspan="3">RGB</th>
                          <th scope="col">Helligkeit</th>  
                        <tr>
                    </thead>
                    <tbody>
                        {% for entry in entries_scene_04 %}
                        <tr>
                          <td>{{ entry.id }}</td> 
                          <td>{{ entry.color_red }}</td>
                          <td>{{ entry.color_green }}</td>
                          <td>{{ entry.color_blue }}</td>   
                          <td>{{ entry.brightness }}</td>      
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> 
                <form action="" method="post"> 
                  <input type="submit" class="btn btn-danger" name="delete_4" value="Einträge löschen"/>
                </form>
                <br>
                <br>
                <br>      
              </div>
          </div>   
          {% endif %}

<!--########-->
<!--Scene 5 -->
<!--########-->

          {% if entries_scene_05 != None %}
 
          <div class="row">
              <div class="col">

                <form method="GET">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name_05" value="{{ scene_05_name }}" />
                  </div>
                    <input type="submit" class="btn btn-secondary" value="Name ändern" />
                    <br>
                    <br>
                </form>     

                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col">Birne</th>                        
                          <th scope="col" colspan="3">RGB</th>
                          <th scope="col">Helligkeit</th>  
                        <tr>
                    </thead>
                    <tbody>
                        {% for entry in entries_scene_05 %}
                        <tr>
                          <td>{{ entry.id }}</td> 
                          <td>{{ entry.color_red }}</td>
                          <td>{{ entry.color_green }}</td>
                          <td>{{ entry.color_blue }}</td>   
                          <td>{{ entry.brightness }}</td>      
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>  
                <form action="" method="post"> 
                  <input type="submit" class="btn btn-danger" name="delete_5" value="Einträge löschen"/>
                </form>
                <br>
                <br>
                <br>      
              </div>
          </div>
          {% endif %}     

        </div>
      </div>    
  </div>

{% endblock %}